body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

[data-amplify-authenticator] {
    height: 100vh;
    font-size: var(--amplify-font-sizes-xl) !important;
}

[data-amplify-authenticator] [data-amplify-container] {
    width: 45rem !important;
}

.amplify-tabs {
    display: none !important;
}
.amplify-input,
.amplify-button {
    font-size: 1.5rem !important;
}
